body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.page-header {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}


.site-navigation {
  list-style: none;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a.site-active {
  color: #766357;
}

.page-main {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
.site-intro {
  background-color: #d1d1d1;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: center 527px, 0 -84px;
  background-repeat: no-repeat;
}

.site-subtitle {
  text-align: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.advantages-text {
  text-align: center;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  list-style: none;
}

.advantage-desc {
  text-align: center;
  background-color: #eeeeee;
}

.advantage-desc-blue {
  background-color: #81b3d2;
}


.advantage-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.advantage-number,
.advantage-text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantage-title-white,
.advantage-number-white,
.advantage-text-white {
  color: #ffffff;
}

.advantage-list {
  list-style: none;
}

.advantage-list-item {
  text-align: center;


}

.advantage-list-item h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;

}

.advantage-list-item p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

}

.search-hotels-subheadline {
  text-align: center;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.search-hotels-text {
  text-align: center;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.search-hotels-form-btn {
  background-color: #766357;
}

.search-hotel {
  display: none;
}

.map-wrapper {
  width: 100%;
  height: 594px;
  background-image: url("../img/map.jpg");
}


.page-footer {
  margin: 0 auto;
  background-color: rgba(254, 254, 254, 0.9);
  width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.footer-contacts {
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.footer-phone,
.footer-phone a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.footer-social-list {
  list-style: none;

}

.footer-social-list a {

  background-color: #81b3d2;
}

.footer-social-list a:focus,
.footer-social-list a:hover {
  background-color: #669ec0;
}

.footer-social-list a:active {
  background-color: #5496bd;
}

.footer-copyright {
  text-align: center;
}

.catalog-filter {
  background-color: #d1d1d1;
  background-image: url("../img/filter-background.jpg");
}

.filter-hotel fieldset {
  border: 0;
}

.filter-hotel legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter-hotel label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.filter-hotel-list {
  list-style: none;
}

.filter-hotel input[type="text"] {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.filter-cost-input {
  border: solid 2px #ffffff;
  border-radius: 2px;
}
.filter-cost-border {
  border-left: solid 2px #ffffff;
}
.filter-hotel-btn {
  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;
}
.filter-hotel-btn:hover,
.filter-hotel-btn:focus{
  color: #000000;
  background-color: #ffffff;

}

.catalog-results {
  background-color: #fefefe;
}
.catalog-results-text {
  font-size: 26px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.catalog-results-sort p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.catalog-results ul {
  list-style: none;
}
.catalog-results-sort-buttons a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.catalog-results-sort-buttons a:hover,
.catalog-results-sort-buttons a:focus{
  color: #81b3d2;
}

.catalog-results-sort-buttons a:active{
  color: #000000;
  text-decoration: none;
}
.catalog-results-sort-buttons a.filter-active {
  color: #81b3d2;
  text-decoration: none;
}
.catalog-hotels {
  background-color: #fefefe;
}

.catalog-hotels ul {
  list-style: none;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-desc {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotel-btn-more {
  background-color: #81b3d2;
}

.hotel-btn-more:hover,
.hotel-btn-more:focus {
  background-color: #669ec0;
}

.hotel-btn-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);

}

.hotel-btn-book {
  background-color: #766357;
}

.hotel-btn-book:hover,
.hotel-btn-book:focus {
  background-color: #604e43;
}

.hotel-btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rates-stars {
  list-style: none;
}

.hotel-rates-desc {
  text-align: center;

  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}






