body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"],
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.content-wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  box-shadow:  -15px 0 20px  -15px rgba(0, 1, 1, 0.2),  15px 0 20px  -15px rgba(0, 1, 1, 0.2);
}
.page-header {
  margin-top: 0;
  background-color: #ffffff;
  position: relative;

}
.header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 5;
}

.site-navigation {
  list-style: none;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 72px;
  padding-right: 73px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}

.site-navigation li {
  width: 25%;
}

.item-middle-left {
  margin-right: 5%;

}

.item-middle-right {
  margin-left: 3.1%;
}

.site-navigation a {
  color: #000000;

}
.item-navigation-left  {
  text-align: left;
}
.item-navigation-right  {
  text-align: right;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a.site-active {
  color: #766357;
}

.page-main {
  margin-top: 0;
  background-color: #ffffff;
  width: 100%;
}
.site-picture {
  min-height: 509px;
  width: 100%;
  background-color: #d1d1d1;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: center 453px, 0 -84px;
  background-repeat: no-repeat;

}

.site-picture img {
  display: block;
  margin: 0 auto;
  padding-top: 77px;

}

.advantages-inner {
  padding-top: 39px;
  padding-bottom: 35px;

  display: flex;

  flex-direction: column;
  align-items: center;
  margin-left: 350px;
  margin-right: 351px;
}

.advantages-subtitle {
  text-align: center;

  font-size: 21px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 0;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

}

.advantages-text {
  padding-top: 16px;

  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

}
 .advantage-big {
  width: 100%;
}
.advantage-small {
  width: 33.3%;
}

.advantage-small div {
  padding: 67px 73px;
}

.advantage-container {
  display: flex;
  flex-direction: row;
}
.advantage-container-reverse {
  flex-direction: row-reverse;
}

.advantage-list {
  display: flex;
}
.advantage-list-item {

  padding: 73px 91px;
}

.advantage-desc {
  text-align: center;
  background-color: #eeeeee;
}

.advantage-photo img {
  display: block;
  margin: 0;
}
.advantage-desc-blue {
  background-color: #81b3d2;
}


.advantage-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.advantage-number,
.advantage-text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantage-title-white,
.advantage-number-white,
.advantage-text-white {
  color: #ffffff;
}

.advantage-list {
  list-style: none;
}

.advantage-list-item {
  text-align: center;
}

.advantage-list-item h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;

}

.advantage-list-item p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

}
.search-hotels {
  position: relative;
}
.search-hotels-inner {

  margin-top: 15px;
  padding-top: 0;
  display: flex;


  align-items: center;
  flex-direction: column;
}

.search-hotels-subheadline {
  margin-bottom: 10px;

  text-align: center;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.search-hotels-text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.search-hotels-form-btn {
  background-color: #766357;
  display: block;
  margin-bottom: 0;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 140px;

  font-size: 21px;
  line-height: 26px;
}

.search-hotels-form-btn:focus,
.search-hotels-form-btn:hover {
  background-color: #604e43;
}

.search-hotels-form-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  width: 568px;
  margin-left: -285px;
  background-color: white;
  padding: 47px 55px;
  padding-bottom: 54px;
  box-shadow:  -15px 15px 20px  -15px rgba(0, 1, 1, 0.2),  15px 15px 20px  -15px rgba(0, 1, 1, 0.2);

}

.search-hotel label,
.search-hotel  input[type="text"] {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: inherit;
}

.search-hotel input[type='text'] {
  border: 0;
  background-color: #f2f2f2;
}
.search-hotel input[type='text']:hover,
.search-hotel input[type='text']:focus {
  background-color: #ebebeb;
  outline: 0;
}
.search-hotel input[type='text'] .active-input-search {
  background-color: #ffffff;
}

.input-date-row {
  margin-top: 5px;

}

.input-date-row:first-child {
  margin-bottom: 30px;
}

.input-date-row label  {
  margin-right: 16px;
}

.search-hotel-dates input[type='text'] {
   position: relative;
   box-sizing: border-box;
   padding-top: 7px;
   padding-bottom: 6px;
   padding-left: 15px;
   padding-right: 15px;
   width: 345px;

}


.search-hotel-btn-calendar {
  position: absolute;
  right: 57px;
  margin-top: 5px;
  border: 0;
  background-color: transparent;
  outline: none;

}

.search-hotel-btn-calendar:hover svg,
.search-hotel-btn-calendar:focus svg {
  fill: #000000;

}
.search-hotel-btn-calendar:active svg{
  fill: #81b3d2;
}


.search-hotel-person-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}


.input-amount-col {
  display: inline-flex;
  margin-left: 30px;
  align-items: center;
}

.input-amount  label{
  margin-right: 9px;
}
.input-amount:last-child  label{
  margin-right: 0;
}

.person-amount{
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  box-sizing: border-box;
  max-width: 40px;
  padding: 6px 13px;

}

.btn-plus,
.btn-minus {
  box-sizing: border-box;
  padding: 6px 13px;

  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.btn-minus:focus line,
.btn-minus:hover line,
.btn-plus:focus line,
.btn-plus:hover line {
  stroke: #000000;
}
.btn-plus:focus,
.btn-minus:focus,
.btn-plus:hover,
.btn-minus:hover{
  outline: 0;
}
.btn-minus:active line,
.btn-plus:active line {
  stroke: #81b3d2;
}
.search-hotel-btn {
  width: 100%;

  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;

  padding: 16px 173px;
  margin-top: 55px;

}

.search-hotel-btn:hover,
.search-hotel-btn:focus{
  background-color: #669ec0;
}

.search-hotel-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.map-wrapper {
  width: 100%;
  height: 472px;
  background-image: url("../img/map.jpg");
}

.page-footer {
  margin-top: 0;
  background-color: rgba(254, 254, 254, 0.9);
}
.footer-container {
  box-sizing: border-box;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  margin-bottom: 0;
}

.footer-contacts {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0;
  padding-bottom: 0;


}

.footer-phone,
.footer-phone a {

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

}

.footer-phone {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: 80px;

}
.footer-social {
  width: 33.3%;

}

.footer-social-list {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.social-button {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 50px;
  background-color: #81b3d2;
}
li:last-child .social-button  {
  margin-right: 0;
}

.social-button:focus,
.social-button:hover {
  background-color: #669ec0;
}

.social-button:active svg{
  opacity: 0.3;
}

.footer-copyright-container {
   flex-grow: 1;
 }

.footer-copyright {
  text-align: center;
  vertical-align: middle;

}
.footer-copyright-link svg{
   vertical-align: middle;
   margin-left: 8px;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
 fill: #81b3d2;
}

.footer-copyright-link:active path {
  fill: #bdbbbc;
}

.catalog-filter {
  background-color: #d1d1d1;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 -300px;
}
.filter-hotel {
  display: flex;
  flex-direction: row;
  padding: 36px 60px;

}
.filter-hotel-fieldset {
  border: 0;
  min-width: 241px;

}


.filter-hotel-fieldset:last-child {
  margin-left: auto;

}

.filter-hotel legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter-hotel label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.filter-hotel-list {
  list-style: none;
  padding-left: 0;
}

.filter-hotel input[type="text"] {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.filter-cost-input {
  border: solid 2px #ffffff;
  border-radius: 2px;
}
.filter-cost-border {
  border-left: solid 2px #ffffff;
}
.filter-hotel-btn {
  font: inherit;
  text-transform: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;
}
.filter-hotel-btn:hover,
.filter-hotel-btn:focus {
  color: #000000;
  background-color: #ffffff;

}

.catalog-results {
  background-color: #fefefe;
}
.results-container {
  display: flex;
  padding: 30px 73px;
}

.catalog-results-text {
  min-width: 135px;
  font-size: 26px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
.catalog-results-sort {
  flex-grow: 1;
}
.catalog-results-sort p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.catalog-results ul {
  list-style: none;
}
.catalog-results-sort-buttons {
  margin-left: auto;
}
.catalog-results-sort-buttons a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.catalog-results-sort-buttons a:hover,
.catalog-results-sort-buttons a:focus {
  color: #81b3d2;
}

.catalog-results-sort-buttons a:active {
  color: #000000;
  text-decoration: none;
}
.catalog-results-sort-buttons a.filter-active {
  color: #81b3d2;
  text-decoration: none;
}
.catalog-hotels {
  background-color: #fefefe;

}
.catalog-hotels ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.catalog-hotel {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #f6f6f6;
  display: flex;
  align-items: stretch;
  padding-left:  73px;
  padding-right: 73px;
  padding-top: 22px;
  padding-bottom: 30px;


}

li.catalog-hotel:last-child {
  border-bottom: 1px solid #f6f6f6;
  padding-top: 22px;
  padding-bottom: 30px;
}

.hotel-image {
  margin-right: 30px;
  height: 90px;
}

.hotel-content {
  flex-grow: 1;

}
.hotel-name {
  margin: 0;
  padding: 0;
}
.hotel-content-columns {
  display: flex;

}

.hotel-content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hotel-content-column:last-child {
  margin-left: 7px;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price{
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 3px;
  margin-bottom: 15px;
}

.hotel-btn-more,
.hotel-btn-book{
  padding: 3px 16px;
  margin: 0;
  margin-bottom: 5px;
}
.hotel-btn-more {
  background-color: #81b3d2;
}

.hotel-btn-more:hover,
.hotel-btn-more:focus {
  background-color: #669ec0;
}

.hotel-btn-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);

}

.hotel-btn-book {
  background-color: #766357;
}

.hotel-btn-book:hover,
.hotel-btn-book:focus {
  background-color: #604e43;
}

.hotel-btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rates {
  display: flex;
  width: 110px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-rates-stars {
  list-style: none;
  display: flex;
}
.hotel-rates-star {
  width: 18px;
  height: 17px;
  margin-left: 7px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-rates-star:first-child  {
  margin-left: 0;
}

.hotel-rates-desc {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}






